/*
Styling des elements de base
*/
body {
	background: whiteSmoke;
	margin: 0;
	font-family: "helvetica neue";
	font-weight: 100;
	color: #444;
	display: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #444;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #444;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #444;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #444;
}
strong {
	color: rgb(34, 141, 255);
	font-weight: 400;
}
div {
	box-sizing:border-box;
}
input, .progress {
	transition:0.3s;
}
input[type=submit], .btn {
	padding: 9px;
	border-radius: 5px;
	font-weight: 400;
	width: auto !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	background: rgb(34, 141, 255) !important;
	cursor: pointer !important;
	color: #fff !important;
	box-shadow: none !important;
	border: none !important;
}
input[type=submit]:hover, .btn:hover {
	background: rgb(24, 131, 240);
}
input[type=submit]:active, .btn:active {
	background: rgb(14, 121, 230);
}
h1 {
	margin: 0;
}
h1, .h1, h2 {
	font-weight: 100;
}
a {
	color: rgb(34, 141, 255);
	text-decoration: none;
	position: relative;
}
a:after {
    content: '';
    margin-left: 0px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-width: 0 0 1px;
    border-style: solid;
}
.pac-container {
	margin-top: 5px;
}
.progressBar {
	background:rgb(50, 50, 60);
	border: 3px solid #fff;
	width: 500px;
	margin: auto;
	border-radius: 100px;
	padding: 4px;
}
.progress {
	display: block;
	height: 20px;
	min-width: 30px;
	color: rgb(50, 50, 60);
	font-weight: 400;
	border-radius: 100px;
	background: #fff;
}
.nav {
	position: fixed;
	top: 0px;
	width: 100%;
	background: #fff;
	padding: 2em;
}
.nav p {
	font-size: 23px;
	margin: 0;
}
.nav .brand {
	font-size: 30px;
	font-weight: 900;
}
.nav .brand:after {
	border: 0;
}
.content {
	width: 910px;
	margin: auto;
	max-width: 100%;
	padding: 2em;
	margin-top: 120px;
	background: #fff;
}
/*
-- Accueil
*/
/*
Intro
*/
.intro {
	background:rgb(50, 50, 60);
	width: 100%;
	height: 600px;
	color: #fff;
	text-align: center;
	padding: 1em;
	vertical-align: center;
	width: 100%;
	position: relative;
}
.intro h1 {
	font-size: 50px;
	margin-top: 140px;
	margin-bottom: 30px;
	text-shadow: 0px 0px 5px #000;
}
.intro h1 small {
	display: block;
	font-size: 30px;
	margin-top: 18px;
	opacity: 0.9;
}
.intro form {
	position: absolute;
	left: 50%;
	width: 800px;
	margin-left: -400px;
}
.intro .introItineraire {
	text-align: center;
	display: inline-block;
}
.intro .introInput {
	width: 300px;
	margin-left: 50px;
	display: inline-block;
}
.intro .introItemContainer {
	height: 30px;
	margin-top: 2px;
	margin-bottom: 10px;
	position: relative;
}
.intro .introDepart {
	position: absolute;
	margin-top: 13px;
	border: 3px solid #fff;
	height: 25px;
	width: 25px;
	border-radius: 50%;
}
.intro .introDepart:after {
	content: "";
	position: absolute;
	height: 27px;
	border-left: 3px dotted #fff;
	bottom: -27px;
	margin-left: -2px;
}
.intro .introArrivee {
	position: absolute;
	margin-top: 20px;
	border: 3px solid #fff;
	height: 25px;
	width: 25px;
	border-radius: 50%;
}
.intro form input {
	display: block;	
	width: 100%;
	padding: 0.5em;
	font-size: 18px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 0;
	color: #333;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 5px #000;
}
.intro form input[type=submit] {
	margin-left: 277px;
}
.intro form input:hover {
	box-shadow: 0px 0px 5px #444;
}
.intro form input:focus {
	outline:0;
	box-shadow: 0px 0px 3px #ccc;
}
.introProgress {
	display: none;
}
.introProgress h1 {
	margin-top: 200px;
}
/*
Promo
*/
.promo {
	width: 920px;
	margin: auto;
	padding: 1em;
	max-width: 100%;
}
.promo h2 {
	font-weight: 100;
	font-size: 34px;
	text-align: center;
}
.promo p {
	font-size: 20px;
	text-align: center;
	letter-spacing: 2px;
}
/*
Map
*/
.map {
	width: 100%;
	height: 700px;
}
/*
Footer
*/
.footer {
	background: #fff;
	padding: 2em;
	padding-bottom: 4.5em;
	margin: auto;
	width: 920px;
	max-width: 100%;
}
.footer p {
	font-size: 40px;
	text-align: center;
}
.footer .brand {
	font-weight: 100 !important;
}
.footer .links {
	text-align: center;
}
/*
--Itineraire
*/
.etape {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #444;
}
.etape h2 {
	margin: 0;
}
.etape h2 small {
	color:rgb(32, 141, 255);
}
.etape h2 small.prix {
	text-align: right;
	float: right;
	color: #444;
	margin-top: 5px;
}